.header {
  height: 30px;
  background-color: #1e1e1e;
  /* VS Code title bar color */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: #cccccc;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  user-select: none;
  border-bottom: 1px solid #2b2b2b;
}

.leftSection {
  display: flex;
  align-items: center;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.menuBar {
  display: flex;
  gap: 15px;
}

.menuItem {
  cursor: pointer;
  transition: color 0.2s;
}

.menuItem:hover {
  color: #ffffff;
}

.title {
  text-align: center;
  flex: 1;
  font-size: 13px;
  color: #9da5b4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuButton {
  display: none;
  margin-right: 10px;
  cursor: pointer;
  align-items: center;
}

@media (max-width: 768px) {
  .menuButton {
    display: flex;
  }

  .menuBar {
    display: none;
    /* Hide full menu bar on mobile to save space */
  }
}

.controls {
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}